body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    background-color: rgb(236, 236, 236);
    border: 3px solid rgb(105, 98, 98);
    border-radius: 20px;;
    
    
    display: flex;
    flex-direction:column;
    gap: 30px;


    width: 300px;
    height: 450px;
    padding:30px;
}

.display {
    background-color: rgba(176, 177, 179, 0.527);


    
    align-self:center;
    display:flex;
    justify-content: end;
    
    width: 300px;
    height: 100px;
}

.executables {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
}

button {
    font-size: 30px;
    font-family: monospace;
    color: white;
    background-color: rgb(185, 184, 184);



    width: 50px;
    height:50px;
}

h2 {
    color:white;
    font-family:monospace;



    font-size: 30px;
    padding-right: 20px;
    max-width: 250px;

    word-wrap: break-word;
    overflow-wrap: break-word; 
    white-space: normal;
}